<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="bBeX69sSlFhDG0ARQa6KxT0UrDeFscnAIeYNurH2">
    <title>Login</title>
    <!-- Vendors styles-->
    {{--
    <link rel="stylesheet" href="http://localhost:8000/vendors/simplebar/css/simplebar.css"> --}}
    {{--
    <link rel="stylesheet" href="http://localhost:8000/css/vendors/simplebar.css"> --}}
    <!-- Main styles for this application-->
    {{--
    <link href="http://localhost:8000/css/style.css" rel="stylesheet"> --}}
    {{-- entryPoint('app') --}}
    @entryPointScripts('app')
    @entryPointStyles('app')
</head>

<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-medium-emphasis">Login ke akun anda</p>
                                <form method="POST" action="{{route('auth.login')}}">
                                    <input type="hidden" name="_token" value="bBeX69sSlFhDG0ARQa6KxT0UrDeFscnAIeYNurH2">
                                    <div class="input-group mb-3"><span class="input-group-text">
                                            <i class="icon cil-user"></i></span>
                                        <input id="email" type="email" placeholder="Email" class="form-control "
                                            name="email" value="" required autocomplete="email" autofocus>
                                    </div>
                                    <div class="input-group mb-2"><span class="input-group-text">
                                            <i class="icon cil-lock-locked"></i></span>
                                        <input id="password" type="password" placeholder="Password"
                                            class="form-control " name="password" required
                                            autocomplete="current-password">
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember"
                                                id="remember">

                                            <label class="form-check-label" for="remember">
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary px-4" type="submit">Login</button>
                                        </div>
                                        <div class="col-6 text-end">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Lorem</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="http://localhost:8000/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="http://localhost:8000/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="http://localhost:8000/vendors/@coreui/utils/js/coreui-utils.js"></script>
</body>

</html>